<div class="news-right-bottom-bg">
    <div class="news-grids-bottom">
        @*<div id="lblTitle" class="rssTitle">@ViewBag.title</div>
        <div id="lblDescription">@ViewBag.description</div>
        <div id=link><a href="@ViewBag.link">Chi Tiet</a></div>
        <br /><br /><br />*@
        <br />
        @foreach (var item in ViewBag.data)
            {
            <div class="top-news-grid-heading"><a href="@item.link">@item.title</a></div>
            <div>
                @Html.Raw(item.description) <a href="@item.link">Xem thêm</a>
            </div>
            <div>
                @item.pubDate
                <br />
            </div>
            <br />
        }
    </div>
</div>
