@model IEnumerable<WebCinema.Models.Cinema.News>

@foreach (var item in Model)
{
    string[] strcut = item.Content.Split('.');
    <div class="wthree-news-top-left">
        <div class="col-md-12 w3-agileits-news-left">
            <div class="col-sm-5 wthree-news-img">
                <a href="@Url.Action("Read","News", new { id = item.NewsId})"><img src="~/images/news.jpg" alt="" /></a>
            </div>

            <div class="col-sm-7 wthree-news-info">
                <h5><a href="@Url.Action("Read","News", new { id = item.NewsId})">@item.Title</a></h5>
                <p>
                    @if(item.Content.Length > 100)
                {
                    @Html.Raw(item.Content.Substring(0, 100) + " ...");
                }
                else
                {
                    @Html.Raw(item.Content);
                }
            </p>
            <ul>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i>@item.CreatedDate.Value.ToShortDateString()</li>
                @*<li><i class="fa fa-eye" aria-hidden="true"></i>2642 lượt View</li>*@
            </ul>
        </div>
        <br>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>
}