@using WebCinema.Models.Cinema;
@{
    UserAccount User = Session["Account"] as UserAccount;
    if (Session["Account"] != null) { ViewBag.ThongBao = "Chào " + User.UserName + "!"; } else { ViewBag.ThongBao = "Đăng Nhập"; }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Phim Chiếu Rạp, Rạp Chiếu Phim, Phim Truyện" content="Phim Chiếu Rạp, Rạp Chiếu Phim, Phim Truyện, Phim, Phim Bom Tấn" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/styleMovie.css" rel="stylesheet" type="text/css" media="" />
    <!--Thuấn-->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/contactstyle.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/faqstyle.css" type="text/css" media="all" />
    <link href="~/Content/css/single.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/medile.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/news.css" rel="stylesheet" />
    <link href="~/Content/news-css/news.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/list-css/list.css" rel="stylesheet" type="text/css" media="all" />
    <!-- banner-slider -->
    <link href="~/Content/css/jquery.slidey.min.css" rel="stylesheet" />
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link href="~/Content/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="~/Scripts/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all" />

    <script src="~/Scripts/SearchAutocomplete/jquery-ui.js"></script>
    <link href="~/Scripts/SearchAutocomplete/jquery-ui.css" rel="stylesheet" />

    <script src="~/Scripts/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items: 5,
                itemsDesktop: [640, 4],
                itemsDesktopSmall: [414, 3]

            });

        });
    </script>
    <!-- //banner-bottom-plugin -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Scripts/js/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="w3layouts_logo">
                <a href="@Url.Action(" Index", "Cinema" )"><h1>WAT<span>Movies</span></h1></a>
            </div>
            @*<div class="w3_search">
                <form method="post">
                    <input type="text" name="searchText" id="searchText" placeholder="Tìm kiếm">
                    <input type="submit" value="Go">
                </form>
            </div>*@
            @Html.Action("_PartialSearch", "Cinema")
            <div class="w3l_sign_in_register">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> (+84) 1698 681 685</li>
                    @{
                    if (Session["Account"] != null)
                    {
                    <li><a href="#" data-toggle="modal">@ViewBag.ThongBao</a></li>
                        <a href="@Url.Action("SignOut","Cinema")" class="btn btn-group-vertical btn-default">Đăng Xuất</a>
                    }
                    else
                    {
                    <li><a href="#" data-toggle="modal" data-target="#myModal">@ViewBag.ThongBao</a></li>
                    }
                    }
                </ul>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- bootstrap-pop-up -->
    @Html.Action("_PartialLogin", "Cinema")
    <!-- //bootstrap-pop-up -->
    <!-- nav -->
    <div class="movies_nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action(" Index","Cinema")">Trang Chủ</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thể Loại <b class="caret"></b></a>
                                @Html.Action("_PartialGetGenre", "Cinema")
                            </li>
                            @*
                            <li><a href="series.html">tv - series</a></li>*@
                            <li><a href="@Url.Action(" Index", "News" )">Tin Tức</a></li>
                            @*
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Country <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <li>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Asia</a></li>
                                                <li><a href="genres.html">France</a></li>
                                                <li><a href="genres.html">Taiwan</a></li>
                                                <li><a href="genres.html">United States</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">China</a></li>
                                                <li><a href="genres.html">HongCong</a></li>
                                                <li><a href="genres.html">Japan</a></li>
                                                <li><a href="genres.html">Thailand</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Euro</a></li>
                                                <li><a href="genres.html">India</a></li>
                                                <li><a href="genres.html">Korea</a></li>
                                                <li><a href="genres.html">United Kingdom</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="short-codes.html">Short Codes</a></li>*@
                            <li><a href="@Url.Action(" Contact", "Cinema" )">Liên Hệ</a></li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
    <!-- //nav -->
    @RenderBody()
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="w3ls_footer_grid">
                <div class="col-md-6 w3ls_footer_grid_left">
                    <div class="w3ls_footer_grid_left1">
                        <h2>Subscribe to us</h2>
                        <div class="w3ls_footer_grid_left1_pos">
                            <form action="#" method="post">
                                <input type="email" name="email" placeholder="Email của bạn..." required="">
                                <input type="submit" value="Gửi">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 w3ls_footer_grid_right">
                    <a href="@Url.Action(" Index","Cinema")"><h2>WAT<span>Movies</span></h2></a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-5 w3ls_footer_grid1_left">
                <p>&copy; 2016 WAT Cinema. All rights reserved | Thiết kế bởi <a href="http://w3layouts.com/">W3layouts</a></p>
            </div>
            <div class="col-md-7 w3ls_footer_grid1_right">
                <ul>
                    @*
                    <li>
                        <a href="genres.html">Movies</a>
                    </li>*@
                    <li>
                        <a href="@Url.Action(" Genre","Movie",new { Id=4 })">Hành Động</a>
                    </li>
                    <li>
                        <a href="@Url.Action(" Genre","Movie",new { Id=1 })">Phiêu Lưu</a>
                    </li>
                    <li>
                        <a href="@Url.Action(" Genre","Movie",new { Id=2 })">Hài Kịch</a>
                    </li>
                    <li>
                        <a href="@Url.Action(" Contact","Cinema")">Liên Hệ Chúng Tôi</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //Bootstrap Core JavaScript -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    @RenderSection("scripts", required: false)

    <!--Facebook live chat-->
    <div id="fb-root"></div>
    <script>$(document).ready(function () { var raido = $(".wrap").attr("data-toggle"); if (raido == 1) { $(".mnv-tuvan").css("display", "none"); $(".x").click(function () { $(".wrap").slideToggle(); $(".mnv-tuvan").slideToggle(); }); $(".mnv-tuvan").click(function () { $(".wrap").slideToggle(); $(this).slideToggle(); }); } else { $(".wrap").css("display", "none"); $(".x").click(function () { $(".wrap").slideToggle(); $(".mnv-tuvan").slideToggle(); }); $(".mnv-tuvan").click(function () { $(".wrap").slideToggle(); $(this).slideToggle(); }); } })(function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=887080981367835"; fjs.parentNode.insertBefore(js, fjs); }(document, "script", "facebook-jssdk"));</script>
    <style>
        .wrap {
            position: fixed;
            width: 300px;
            height: 400px;
            z-index: 9999999;
            right: 0px;
            bottom: 0px;
        }

        .x {
            font-family: arial, helvetica;
            background: rgba(78,86,101,0.8) none repeat scroll 0 0;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            display: inline-block;
            height: 25px;
            line-height: 25px;
            position: absolute;
            right: 0;
            text-align: center;
            top: -19px;
            width: 25px;
            z-index: 99999999;
        }

            .x:hover {
                cursor: pointer;
            }

        .pxem {
            text-align: left;
            height: 20px;
            margin-bottom: 0;
            margin-top: 0;
            background: #0088b5;
            width: 100%;
            bottom: 0;
            display: block;
            left: 0px;
            position: absolute;
            z-index: 999999999;
            border-left: 1px solid #fff;
        }

            .pxem a.axem {
                color: #fff;
                font-family: arial,helvetica;
                font-size: 12px;
                line-height: 23px;
                padding-left: 5px;
                text-decoration: none;
            }

                .pxem a.axem:hover {
                    text-decoration: underline;
                }

        .alogo {
            position: absolute;
            bottom: 0;
            right: 0px;
            z-index: 999999999999;
            width: 40px;
            height: 20px;
            display: inline-block;
            background: #0088b5;
            padding-right: 0px;
            padding-left: 5px;
        }

        .mnv-tuvan {
            position: fixed;
            width: 300px;
            background: #0088b5;
            z-index: 99999999;
            right: 0px;
            bottom: 0px;
            border-style: solid solid none;
            border-width: 1px 1px 0;
            border-color: #fff;
        }

            .mnv-tuvan p {
                color: #fff;
                font-size: 15px;
                margin: 0;
                padding: 0 13px;
                text-align: left;
            }

                .mnv-tuvan p a {
                    color: #fff;
                    font-size: 15px;
                    padding: 5px 0px 7px;
                    margin: 0;
                    display: inline-block;
                    font-family: arial, helvetica;
                    text-decoration: none;
                }

                    .mnv-tuvan p a:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                .mnv-tuvan p img {
                    float: right;
                    margin-top: 10px;
                }
    </style><div data-toggle="1" class="wrap" style="position:fixed; width:250px; height: 325px; "><span class="x" style="">X</span><div class="fb-page" data-adapt-container-width="true" data-height="325" data-hide-cover="false" data-href="https://www.facebook.com/WATCinemaFanpage/?__mref=message_bubble" data-show-facepile="true" data-show-posts="false" data-small-header="false" data-tabs="messages" data-width="250" style="position:relative; z-index:9999999; right:0px; bottom:21px;border-left: 1px solid #fff;border-top: 1px solid #fff;"></div><p class="pxem" style=""><a class="axem" style="" href=" http//web24h.vn/news-14-200/huong-dan-cai-dat-live-chat-fanpage.html" target="_blank">Cài đặt live chat fanpage</a><a class="alogo" style=""><img src="http://pront04.web24h.vn/Uploaded/Members/9558/images/2015/11/logo-web.png" width="27px" height="14px" style="margin-top: 3px"></a></p></div><div class="mnv-tuvan" style="width: 248px;"><p style=" "><a style="">Bạn cần tư vấn ?</a><img src="http://pront04.web24h.vn/Uploaded/Members/9558/images/2015/11/supprt.png"></p></div>
    <script type="text/javascript">
        $(function () {
            $('#searchText').autocomplete({
                source: '@Url.Action("SearchByName")'
            });
        });
    </script>
</body>
</html>