@model WebCinema.Models.Cinema.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Chi tiết</h1>
        </div>
        <div>
            <h4>Phim</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Length_)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Length_)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Director)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Director)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Stars)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Stars)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description_)
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Description_)*@
                    @Html.Raw(Model.Description_)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReleaseDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Format_)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Format_)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Trailer)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Trailer)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Poster)
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.Poster)*@
                    <img src="~/images/Movies/@Model.Poster" style="height:100px; width:60px;" />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Thumbnail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Thumbnail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Language_)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Language_)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MetaKeywords)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MetaKeywords)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MetaDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MetaDescription)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status_)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status_)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MovieId }) |
            @Html.ActionLink("Trở về danh sách", "Index")
        </p>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

