@model IEnumerable<WebCinema.Models.Cinema.TypeOfMovie>
<ul class="dropdown-menu multi-column columns-3">
    <li>
        @foreach (var item in Model.Take(4))
        {
            <div class="col-sm-4">
                <ul class="multi-column-dropdown">
                    <li><a href="@Url.Action("Genre", "Cinema", new { Id = item.TypeId })">@item.Name</a></li>
                </ul>
            </div>
        }
        @foreach (var item in Model.Skip(4).Take(4))
        {
            <div class="col-sm-4">
                <ul class="multi-column-dropdown">
                    <li><a href="@Url.Action("Genre", "Cinema", new { Id = item.TypeId })">@item.Name</a></li>
                </ul>
            </div>
        }
        @foreach (var item in Model.Skip(8).Take(4))
        {
            <div class="col-sm-4">
                <ul class="multi-column-dropdown">
                    <li><a href="@Url.Action("Genre", "Cinema", new { Id = item.TypeId })">@item.Name</a></li>
                </ul>
            </div>
        }
        <div class="clearfix"></div>
    </li>
</ul>